body {
	font-size : 13pt;
	font-family : "Trebuchet MS", Arial, sans-serif;
	margin:0;
	height: 100%;
	width: 100%;
	position: fixed;

}

#background-image {
	position: fixed;
	left: 0;
	right: 0;
	z-index: -1;
	background-repeat: no-repeat;
	background-size: cover;
	width: 100vw;
	height: 100vh;
	-webkit-filter: blur(3px);
	-moz-filter: blur(3px);
	-o-filter: blur(3px);
	-ms-filter: blur(3px);
	filter: blur(3px);
}

#background-image > img {
	height: 100%;
	width: 100%;
}

sprite {
	display: none;
}

h2 {
	margin-top : 0px;
	font-weight : bold;
}

#status {
	position : absolute;
	top : 0px;
	width : 100%;
	text-align : center;
	border-bottom : 1px solid lightGray;
}

#status div {
	display : inline-block;
	padding : 10px 20px;
	color : gray;
	border-left : 1px solid lightGray;
	border-right : 1px solid lightGray;
}
#status div+div {
	border-left : none;
}

.section {
	position: fixed;
	bottom: 50px;
	left: 5vw;
	padding : 10px;
	margin : auto;
	width: 90vw;
	border: 3px solid lightGray;
	background-color: rgba(255, 255, 255, 0.5);
	border-radius: 8px;
}
.section#intro {
	display : block;
}

.section div:first-of-type {
	min-height: 50%;
	text-align: center;
}
.section button {
	display : block;
	width : 100%;
	color : black;
	text-decoration : none;
	padding : 5px;
	margin-top : 30px;
	background : lightGray;
	border : none;
	cursor : pointer;
}
.section button+button  {
	margin-top : 10px;
}

.section button:hover {
	color : lightGray;
	background-color : black;
}

#sprite {
	width: 200px;
	height: auto;
	left: 70vh;
	position: fixed;
}

.battle {
	padding : 10px 10px;
	margin : 20px 0px;
	box-shadow : 0px 2px 8px gray;
}

img_src {
	display: none;
}

@media only screen and (max-device-width: 480px) {

	.section {
		font-size: 20px;
	}
}